body {
  background-color: rgb(59, 49, 49);
  color: #ffffff;
}
nav {
  display: flex;
  justify-content: space-around;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav h1 {
  color: lime;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
nav div.nav-items {
  background-color: rgb(77, 73, 73);
  text-align: center;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu {
  text-align: right;
  padding-right: 10px;
}
.image img {
  width: 300px;
  border-radius: 20px;
}
.image {
  padding-top: 5px;
}
.intro {
  text-align: center;
}
.intro-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5em;
}
.skill img {
  width: 100px;
  height: 80px;
  border-radius: 6px;
}
.skill-div div {
  width: 220px;
  height: 130px;
  background-color: rgb(77, 73, 73);
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  transition: width 2s ease;
}
.skill-div{
  display: grid;
  grid-template-columns: repeat(auto-fit,250px);
  grid-gap: 10px;
  padding: 10px;
}
.skill-div div:hover {
  background-color: lime;
  width: 230px;
}
.skill {
  text-align: center;
  padding-bottom: 20px;
}
.projects img {
  width: 200px;
  height: auto;
}
.projects {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  margin: 0 auto;
  width: 80%;
  grid-gap: 1rem;
}
button {
  background: inherit;
  color: white;
  outline: none;
  border: 2px solid lime;
  border-radius: 3px;
  height: 30px;
  transition: all 2s ease;
}
button:hover {
  background: lime;
  border: 2px solid white;
}
.experience {
  border-left: 4px solid lime;
  padding-left: 20px;
  width: 80%;
  margin: 0 auto;
}
.experiences {
  padding: 10px;
}
.contact {
  background: white;
  color: black;
  width: 100%;
  padding: 10px;
}
.contact-info {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 700px) {
  div.nav-items {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
  
  .intro {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
  }
  .intro-text {
    width: 50%;
  }
  nav {
    top: 0;
  }
  .image {
    padding-top: 60px;
  }
  .image img {
    width: 350px;
    height: 250px;
  }
  .about {
    text-align: center;
    width: 40%;
    margin: 0 auto;
  }
  .intro-text {
    padding-top: 50px;
  }
  
  nav li {
    display: inline;
    padding: 20px;
    list-style-type: none;
  }
  nav button {
    margin-top: 15px;
  }
  .experience {
    width: 60%;
  }
  .contact-info {
    display: flex;
    justify-content: space-evenly;
  }
  .contact-me-msg {
    width: 40%;
  }
}
